
<footer class="footer" id="footer">
 <div class="container-fluid">
   <div class="contact">

    <a href="https://github.com/"><i class="fab fa-github fa-2x"></i></a>
    <a href="https://www.facebook.com/"><i class="social-icon fab fa-facebook-f fa-2x"></i></a>
    <a href="https://www.instagram.com/methindu.p.m/"><i class="social-icon fab fa-instagram fa-2x"></i></a>
    <a href="https://www.youtube.com/results?search_query=methindupm"><i class="fab fa-youtube fa-2x"></i></a>

   </div>
   <p>© Copyright methindu p. muhandiram</p>
 </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>
