<%- include('header'); -%>

<body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Congratulations !</h1>
      <p class="lead">You have successfully signed in.</p>

      <form action="/success" method="post">
        <button class="btn btn-lg btn-success" type="submit" name="button">Go Back To Home Page.</button>
      </form>


    </div>
  </div>
</body>

<%- include('footer'); -%>
